<%-include('../header') %> 
<%-include('../sidebar') %>
   <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        View Transaction
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/admin/transaction_list">View Transactions</a></li>
        <li class="active">View Details</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">
 <% if (locals.flashmessages) { %>
    <div class="alert alert-<%=flashmessages.alert_type%> alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <%=flashmessages.alert_msg%>
    </div>
    <% } %>
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">				
              <h4 class=" text-center">Transaction Details</h4>
            </div>
          </div>  
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="alert alert-success" id="success_alert" style="display: none;">
  <strong>Success!</strong>
</div>

          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
              <li ><a href="#trandetail" data-toggle="tab">Transaction</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="summary">
				<ul class="list-group list-group-unbordered">
					<li class="list-group-item">
						<b style="width: 30%;">Name</b>
						<a class="pull-right" style="width: 70%;"><%=user.fullname%></a>
					</li>
					
					<li class="list-group-item">
						<b style="width: 30%;">Amount</b>
						<a class="pull-right" style="width: 70%;"><%=transaction.currency%> <%=parseFloat(transaction.amount/100).toFixed(2)%></a>
					</li>
					
					<li class="list-group-item">
						<b style="width: 30%;">Date</b>
						<a class="pull-right" style="width: 70%;"><%=transaction.created_at%></a>
					</li>
					
					<li class="list-group-item">
						<b style="width: 30%;">Appointment ID</b>
						<a class="pull-right" style="width: 70%;"><%=transaction.appointment_id%></a>
					</li>
					
					
					<li class="list-group-item">
						<b style="width: 30%;">Appointment Date</b>
						<a class="pull-right" style="width: 70%;"><%=appointment_date%></a>
					</li>
					
					<li class="list-group-item">
						<b style="width: 30%;">Service Provider</b>
						<a class="pull-right" style="width: 70%;"><%=provider_name%></a>
					</li>
					<%
						var transaction_status = "Failed";
						if(transaction.payment_details != null && transaction.payment_details != undefined && transaction.payment_details.status != undefined && transaction.payment_details.status != null) {
							transaction_status = transaction.payment_details.status;
						}
						
						transaction_status = transaction_status.charAt(0).toUpperCase() + transaction_status.slice(1);
						if(transaction_status == "Succeeded")
							var transaction_status_html = "<span style='background: #00ff00; padding: 4px;'>" + transaction_status + "</span>";
						else
							var transaction_status_html = "<span style='background: #ff0000; padding: 4px;'>" + transaction_status + "</span>";
				    %>
					
					<li class="list-group-item">
						<b style="width: 30%;">Status</b>
						<a class="pull-right" style="width: 70%;"><%- transaction_status_html%></a>
					</li>
				</ul>
              </div>
              
			  
			  <div class="tab-pane" id="trandetail">
				<ul class="list-group list-group-unbordered">
					<% if(transaction.payment_details == null || transaction.payment_details == undefined) { %>
						<li class="list-group-item">
							<b style="width: 70%;">Transaction Details not available</b>
						</li>
					<% } else if(transaction.payment_details.id == undefined || transaction.payment_details.id == null) { %>
						<li class="list-group-item">
							<b style="width: 30%;">Status Code</b>
							<a class="pull-right" style="width: 70%;"><%=transaction.payment_details.statusCode%></a>
						</li>
						<li class="list-group-item">
							<b style="width: 30%;">Code</b>
							<a class="pull-right" style="width: 70%;"><%=transaction.payment_details.code%></a>
						</li>
						<li class="list-group-item">
							<b style="width: 30%;">Message</b>
							<a class="pull-right" style="width: 70%;"><%=transaction.payment_details.message%></a>
						</li>
						<li class="list-group-item">
							<b style="width: 30%;">Request ID</b>
							<a class="pull-right" style="width: 70%;"><%=transaction.payment_details.requestId%></a>
						</li>
						<li class="list-group-item">
							<b style="width: 30%;">Token</b>
							<a class="pull-right" style="width: 70%;"><%=transaction.token%></a>
						</li>
					<% } else if(transaction.payment_details.id) { %>
						<li class="list-group-item">
							<b style="width: 30%;">Status</b>
							<a class="pull-right" style="width: 70%;"><%=transaction.payment_details.status%></a>
						</li>
						<li class="list-group-item">
							<b style="width: 30%;">Transaction ID</b>
							<a class="pull-right" style="width: 70%;"><%=transaction.payment_details.id%></a>
						</li>
						<li class="list-group-item">
							<b style="width: 30%;">Object</b>
							<a class="pull-right" style="width: 70%;"><%=transaction.payment_details.object%></a>
						</li>
						<li class="list-group-item">
							<b style="width: 30%;">Balance Transaction</b>
							<a class="pull-right" style="width: 70%;"><%=transaction.payment_details.balance_transaction%></a>
						</li>
						<li class="list-group-item">
							<b style="width: 30%;">Captured</b>
							<a class="pull-right" style="width: 70%;"><%=transaction.payment_details.captured%></a>
						</li>
						<li class="list-group-item">
							<b style="width: 30%;">Description</b>
							<a class="pull-right" style="width: 70%;"><%=transaction.payment_details.description%></a>
						</li>
						<li class="list-group-item">
							<b style="width: 30%;">LiveMode</b>
							<a class="pull-right" style="width: 70%;"><%=transaction.payment_details.livemode%></a>
						</li>
						<li class="list-group-item">
							<b style="width: 30%;">Paid</b>
							<a class="pull-right" style="width: 70%;"><%=transaction.payment_details.paid %></a>
						</li>
						<li class="list-group-item">
							<b style="width: 30%;">Token</b>
							<a class="pull-right" style="width: 70%;"><%=transaction.token%></a>
						</li>
					<% } %>
				</ul>
			 </div>
			  
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <style>
  .top-spaced { padding-top: 7px; font-weight: 500; }
  </style>
  <%-include('../footer') %> 
  