<%-include('../header') %> 
<%-include('../sidebar') %> 
   <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Add Coupon
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/admin/coupon">Coupon</a></li>
        <li class="active">Add Coupon</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">
 <% if (locals.flashmessages) { %>
    <div class="alert alert-<%=flashmessages.alert_type%> alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <%=flashmessages.alert_msg%>
    </div>
    <% } %>
          
          <div class="box box-primary">
            <div class="box-body box-profile">				
              <h5 class="profile-username text-center">New Coupon</h5>
            </div>
          </div>  
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="alert alert-success" id="success_alert" style="display: none;">
			  <strong>Success!</strong>
 		  </div>

          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Coupon Details</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <form class="form-horizontal" method="post" action="/admin/coupon/add_coupon">
                  <div class="form-group">
                    <label for="coupon_code" class="col-sm-2 control-label">Coupon Code</label>

                    <div class="col-sm-10">
                      <input type="text" value="" name="coupon_code" class="form-control" id="coupon_code" placeholder="Enter Coupon Code" data-validation="length alphanumeric" data-validation-length="min4">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="expiry_date" class="col-sm-2 control-label">Expiry Date</label>

                    <div class="input-group date col-sm-10" style="padding-left: 15px; padding-right: 15px;">
						<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
						<input class="form-control pull-right" id="expiry_date" name="expiry_date" type="text" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="multiple_use" class="col-sm-2 control-label">Multiple Use</label>

                    <div class="col-sm-10">
						<label class="switch" >
						  <input type="checkbox" id="multiple_use" name="multiple_use" style="position: relative; top: 7px;" />
						  <span class="slider round"></span>
						</label>
                    </div>
                  </div>
				  <div class="form-group">
                    <label for="percent" class="col-sm-2 control-label">Percent</label>

                    <div class="col-sm-10">
                      <input type="number" value="" name="percent" class="form-control" id="percent" placeholder="Discount Percent" />
                    </div>
                  </div>
				                    
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" id="btnsubmit" name="btnsubmit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <script language="javascript">
  //Date picker
  jQuery(document).ready(function(){
	 jQuery('#expiry_date').datepicker({
      dateFormat: 'yy-mm-dd',
	  autoclose: true
	 })
  });   
  </script>
  
  <%-include('../footer') %> 