<%-include('../header') %> 
<%-include('../sidebar') %>  
   <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Notification Settings
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Settings</li>
        <li class="active">Push Notifications</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
			<% if (locals.flashmessages) { %>
				<div class="alert alert-<%=flashmessages.alert_type%> alert-dismissible">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<%=flashmessages.alert_msg%>
				</div>
			<% } %>          
          <div class="alert alert-success" id="success_alert" style="display: none;">
				<strong>Success!</strong>
		  </div>

          <div class="nav-tabs-custom" >  
              <div class="tab-pane" id="settings" style="padding-top: 30px; padding-bottom: 30px; padding-left: 10px;">
                <form class="form-horizontal" name="frmnotification"  id="frmnotification" method="post" action="/admin/notification_update">
                  <div class="form-group">
                    <label for="inputName" required class="col-sm-2 control-label" style="padding-top: 0px;">Enable Push Notifications </label>
					<%
						if(notifications_enabled == "1")
							checked = "checked";
						else
							checked = "";
					%>
					<label class="switch" style="margin-left: 10px;">
					  <input type="checkbox" id="chk_notifications" name="chk_notifications" <%=checked%> style="position: relative; top: 7px;" />
					  <span class="slider round"></span>
					</label>					
				  </div>
                  
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                       <input type="hidden" id="settings_id" name="settings_id" value="<%=notifications_id%>">
                      <button type="submit" class="btn btn-danger" name="btnSettings" id="btnSettings">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>

  <%-include('../footer') %> 