<%-include('../header') %> 
<%-include('../sidebar') %> 
   <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Payment Settings
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Payment</li>
        <li class="active">Payment Settings</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <div class="row">
		<% if (locals.flashmessages) { %>
			<div class="alert alert-<%=flashmessages.alert_type%> alert-dismissible">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			  <%=flashmessages.alert_msg%>
			</div>
		 <% } %>
        <div class="col-md-3">		 
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">          
              <h5 class="profile-username text-center">Configuration</h5>
            </div>
          </div>  
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="alert alert-success" id="success_alert" style="display: none;">
  <strong>Success!</strong>
</div>

          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Stripe Payment Method</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <form class="form-horizontal" method="post" action="/admin/update_payment_settings">
                  <div class="form-group">
                    <label for="stripe_email" class="col-sm-4 control-label">Email (in Stripe Account)</label>

                    <div class="col-sm-8">
                      <input type="text" value="<%=stripe_email%>" name="stripe_email" class="form-control" id="stripe_email" placeholder="Email in Stripe Account" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="stripe_secret_key" class="col-sm-4 control-label">Stripe Secret Key</label>

                    <div class="col-sm-8">
                      <input type="text" value="<%=stripe_secret_key%>" name="stripe_secret_key" class="form-control" id="stripe_secret_key" placeholder="Stripe Secret Key"  />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="stripe_publishable_key" class="col-sm-4 control-label">Stripe Publishable Key</label>

                    <div class="col-sm-8">
                      <input type="text" value="<%=stripe_publishable_key%>" name="stripe_publishable_key" class="form-control" id="stripe_publishable_key" placeholder="Stripe Publishable Key" />
                    </div>
                  </div>
				  <div class="form-group">
                    <label for="stripe_mode" class="col-sm-4 control-label">Stripe Mode</label>

                    <div class="col-sm-8">
                      <select id="stripe_mode" name="stripe_mode" class="form-control">
						<%
							sandbox = (stripe_mode == "sandbox")? "selected" : "";
							production = (stripe_mode == "production")? "selected" : "";
						%>
						<option value="sandbox" <%=sandbox%>>SandBox</option>
						<option value="production" <%=production%>>Production</option>
					  </select>
                    </div>
                  </div>
				  
                  <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                      <input type="hidden" id="user_id" name="user_id" value="">
                      <button type="submit" id="btnsubmit" name="btnsubmit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  
  <%-include('../footer') %> 