<%-include('../../header') %> 
<%-include('../../sidebar') %> 
<div class="content-wrapper">
   
    <section class="content-header">
      <h1>
       Queries 
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li>Queries</li>
        <li class="active">View Queries</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
			<% if (locals.flashmessages) { %>
			<div class="alert alert-<%=flashmessages.alert_type%> alert-dismissible">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			  <%=flashmessages.alert_msg%>
			</div>
		 <% } %>
          <div class="box box-primary">
            
           
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Email</th>
				  <th>Date</th>
				  <th>Query</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <% var count=1; for(var i=0; i<queries_list.length; i++){%>
                <tr>
                  <td><%=count%></td>
                  <td><%=queries_list[i].email%></td>
                  <td><%=queries_list[i].created_at%></td>
                  <td><%=queries_list[i].query%></td>
                  <td> <a class="btn btn-xs btn-info" href="/admin/userquery/edit_faq/<%=queries_list[i]._id%>" style="margin-right: 10px;">View / Reply</a><a class="btn btn-xs btn-danger" onclick="return confirm('Are you sure you want to delete ?');" href="/admin/userquery/delete/<%=queries_list[i]._id%>">Delete</a></td>
                </tr>
                <% count++; } %>
                </tbody>
                <tfoot>
                <tr>
                  <th>#</th>
                  <th>Email</th>
				  <th>Date</th>
				  <th>Query</th>
                  <th>Action</th>
                </tr>
                </tfoot>
              </table>
            </div>
          
          </div>
         
        </div>
      
      </div>
      
    </section>
    
  </div>  
    <%-include('../../footer') %> 